@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Биржа пряников</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
</head>
<body>
	<div class="row">
		<div class="col-md-4">
			<table class="table table-bordered">
				<tr>
					<td><b>Купить</b></td>
				</tr>
				<tr>
					<td>
						<div>
							@using (Html.BeginForm("BuyOrder", "Home", FormMethod.Post))
							{
								<div class="row">
									<div class="col-md-4">
										@Html.TextBox("Price", "Цена за шт.")
									</div>
								</div>
								<div class="row"><br></div>
								<div class="row">
									<div class="col-md-4">
										@Html.TextBox("Count", "Количество")
									</div>
									<div class="col-md-4">
										<p><input type="submit" value="Отправить" /></p>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										@Html.TextBox("Email", "Email")
									</div>
								</div>
							}
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<br>
						<b>Ордера на продажу</b>
						<br>
						<table class="table table-bordered">
							<tbody>
								<tr>
									<th>Цена</th>
									<th>Количество</th>
									<th>Email</th>
								</tr>
								@foreach (var b in ViewBag.SellOrderView)
								{
									<tr>
										<td>@b.Price</td>
										<td>@b.Count</td>
										<td>@b.Email</td>
									</tr>
								}
							</tbody>
						</table>
					</td>
				</tr>
			</table>
		</div>


		<div class="col-md-4 col-md-offset-4">
			<table class="table table-bordered">
				<tr>
					<td><b>Купить</b></td>
				</tr>
				<tr>
					<td>
						<div>
							@using (Html.BeginForm("BuyOrder", "Home", FormMethod.Post))
							{
								<div class="row">
									<div class="col-md-4">
										@Html.TextBox("Price", "Цена за шт.")
									</div>
								</div>
								<div class="row"><br></div>
								<div class="row">
									<div class="col-md-4">
										@Html.TextBox("Count", "Количество")
									</div>
									<div class="col-md-4">
										<p><input type="submit" value="Отправить" /></p>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										@Html.TextBox("Email", "Email")
									</div>
								</div>
							}
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<br>
						<b>Ордера на покупку</b>
						<br>
						<table class="table table-bordered">
							<tbody>
								<tr>
									<th>Цена</th>
									<th>Количество</th>
									<th>Email</th>
								</tr>
								@foreach (var b in ViewBag.BuyOrderView)
								{
									<tr>
										<td>@b.Price</td>
										<td>@b.Count</td>
										<td>@b.Email</td>
									</tr>
								}
							</tbody>
						</table>
					</td>
				</tr>
			</table>

		</div>
	</div>
	
</body>
</html>