@model GingerbreadExchange.ViewModels.IndexVM
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Биржа пряников 2.0</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="row">
        <div class="col-md-4">
            <table class="table table-bordered">
                <tr>
                    <td><b>Купить</b></td>
                </tr>
                <tr>
                    <td>
                        <div>
                            @using (Html.BeginForm("Order", "Home", FormMethod.Post))
                            {
                                <input type="hidden" value="Buy" name="dealOperation" />
                                <div class="row">
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(m => m.GingerbreadVM.Price, new { @class = "form-control", @placeholder = "Цена за шт." })
                                    </div>
                                </div>
                                <div class="row"><br></div>
                                <div class="row">
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(m => m.GingerbreadVM.Count, new { @class = "form-control", @placeholder = "Количество" })
                                    </div>
                                    <div class="col-md-5">
                                        <p><button type="submit">Ок</button></p>
                                    </div>
                                </div>
                                <div class="row"><br></div>
                                <div class="row">
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(m => m.OrderVM.Email, new { @class = "form-control", @placeholder = "E-mail" })
                                    </div>
                                </div>
                            }
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <br>
                        <b>Ордера на продажу</b>
                        <br>
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th>@Html.DisplayNameFor(m => m.OrderVM.GingerbreadVM.Price)</th>
                                    <th>@Html.DisplayNameFor(m => m.OrderVM.GingerbreadVM.Count)</th>
                                    <th>@Html.DisplayNameFor(m => m.OrderVM.Email)</th>
                                </tr>
                                @foreach (var item in (Model as GingerbreadExchange.ViewModels.IndexVM).SellVMList)
                                {
                                    <tr>
                                        <td>@item.GingerbreadVM.Price</td>
                                        <td>@item.GingerbreadVM.Count</td>
                                        <td>@item.Email</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </div>


        <div class="col-md-4 col-md-offset-4">
            <table class="table table-bordered">
                <tr>
                    <td><b>Продать</b></td>
                </tr>
                <tr>
                    <td>
                        <div>
                            @using (Html.BeginForm("Order", "Home", FormMethod.Post))
                            {
                                <input type="hidden" value="Sell" name="dealOperation" />
                                <div class="row">
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(m => m.GingerbreadVM.Price, new { @class = "form-control", @placeholder = "Цена за шт." })
                                    </div>
                                </div>
                                <div class="row"><br></div>
                                <div class="row">
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(m => m.GingerbreadVM.Count, new { @class = "form-control", @placeholder = "Количество" })
                                    </div>
                                    <div class="col-md-5">
                                        <p><button type="submit">Ок</button></p>
                                    </div>
                                </div>
                                <div class="row"><br></div>
                                <div class="row">
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(m => m.OrderVM.Email, new { @class = "form-control", @placeholder = "E-mail" })
                                    </div>
                                </div>
                            }
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <br>
                        <b>Ордера на покупку</b>
                        <br>
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th>@Html.DisplayNameFor(m => m.OrderVM.GingerbreadVM.Price)</th>
                                    <th>@Html.DisplayNameFor(m => m.OrderVM.GingerbreadVM.Count)</th>
                                    <th>@Html.DisplayNameFor(m => m.OrderVM.Email)</th>
                                </tr>
                                @foreach (var b in (Model as GingerbreadExchange.ViewModels.IndexVM).BuyVMList)
                                {
                                    <tr>
                                        <td>@b.GingerbreadVM.Price</td>
                                        <td>@b.GingerbreadVM.Count</td>
                                        <td>@b.Email</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <br>
            <b>Завершённые сделки</b>
            <br>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.HistoryVM.DealTime)</th>
                        <th>@Html.DisplayNameFor(m => m.HistoryVM.BuyOrderTime)</th>
                        <th>@Html.DisplayNameFor(m => m.HistoryVM.SellOrderTime)</th>
                        <th>@Html.DisplayNameFor(m => m.HistoryVM.Price)</th>
                        <th>@Html.DisplayNameFor(m => m.HistoryVM.Count)</th>
                        <th>@Html.DisplayNameFor(m => m.HistoryVM.BuyEmail)</th>
                        <th>@Html.DisplayNameFor(m => m.HistoryVM.BuyEmail)</th>
                    </tr>
                    @foreach (var item in (Model as GingerbreadExchange.ViewModels.IndexVM).HistoryVMList)
                    {
                        <tr>
                            <td>@item.DealTime</td>
                            <td>@item.BuyOrderTime</td>
                            <td>@item.SellOrderTime</td>
                            <td>@item.Price</td>
                            <td>@item.Count</td>
                            <td>@item.BuyEmail</td>
                            <td>@item.SellEmail</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>


    </div>

</body>
</html>